{% extends 'base.html' %}

{% block title %}Application{% endblock %}

{% block depHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/openpgp.min.js') }}"></script>
{% endblock %}

{% block content %}
<section class="container app-login" id="app-login">
  <div class="jumbotron">
    <p id="app-login-info">Please login :</p>
    <div>
      <label for="app-login-email">Email</label>
      <input class="form-control" type="email" id="app-login-email"/>
    </div>
    <div>
      <label for="app-login-pw">Password</label>
      <input class="form-control" type="password" id="app-login-pw"/>
    </div>
    <div class="submit-group">
      <a class="btn btn-primary btn-lg" id="app-login-BTN">LOGIN</a>
    </div>
  </div>
</section>

<section class="container-fluid app-chat hide" id="app-chat">
  <aside class="col-lg-visible col-md-3 col-lg-2 app-chatContacts">
    <h2>Contacts</h2>
    <div class="showContacts">
      <div class="app-contactList">
      </div>
      <div class="text-center">
        <a class="btn btn-primary"><i class="fa fa-user-plus"></i> Add a contact</a>
      </div>
    </div>
    <div class="app-contactAdd">
      <h3>Add a contact</h3>
      <div class="input-group">
        <input type="text" class="form-control app-contactAdd-search"/>
        <div class="input-group-btn">
          <a class="btn btn-default"><i class="fa fa-close"></i></a>
        </div>
      </div>
    </div>
  </aside>
  <article class="col-sm-12 col-md-9 col-lg-7 app-chatBox noDiscussionOpened">
    <div class="help">
      <h2>Open a discussion</h2>
      <p>
        You can start a discussion with a contact on the left.<br/>
        If you don't have any contact yet you can add some by clicking on the 'Add a contact' button
      </p>
    </div>
    <div class="loading">
      <p class="text-center"><i class="fa fa-pulse fa-4x fa-spinner"></i><br/>Loading ...</p>
    </div>
    <div class="discussion">
      <h2>Discussion with: <i class="app-chatBoxTitle-with"></i></h2>
      <div class="app-chatLog">
        <div class="app-msgList">
        </div>
      </div>
      <div class="app-chatInput">
        <div class="input-group">
          <input class="form-control app-chatInputMsg" type="text" autocomplete="off"/>
          <div class="input-group-btn">
            <a class="btn btn-default app-chatInputSub">Send</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  <aside class="col-lg-visible col-lg-3 app-detailsPanel">
    <h2>Details</h2>
  </aside>
</section>
{% endblock %}
{% block footer %}{% endblock %}

{% block depAfter %}
  <!-- Templates -->
  <div class="hide" id="app-templates">
    <!-- Chat Message -->
    <div class="app-chatMsg">
      <div class="app-chatMsgInfos">
        <i class="app-msgInfosTime">16:06:34</i>
      </div>
      <div class="app-chatMsgUser">
        <b class="app-msgUserName">USER</b>:
      </div>
      <div class="app-chatMsgContent">
        This is the content of the message !
      </div>
    </div>
    <!-- Contact item -->
    <div class="app-contactListItem">
      <h3>Pseudo</h3>
      <i>Last seen: <span class="lastSeen"></span></i>
      <p>TAGS ...</p>
    </div>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
