/* ----------------------- */
/* ---    APP style    --- */
/* ----------------------- */

section.app-login {
  margin-top: 50px;
}
section.app-login .submit-group {
  margin-top: 20px;
  text-align: right;
}

section.app-chat {
  position: absolute;
  top: 51px;
  height: calc( 100% - 52px );
  width: 100%;
  overflow-y: hidden;
}

section.app-chat article, section.app-chat aside {
  height: 100%;
}

/* --- Contacts --- */
aside.app-chatContacts.add > div.showContacts,
aside.app-chatContacts:not(.add) div.app-contactAdd {
  display: none;
}

aside.app-chatContacts > div.showContacts {
  position: relative;
  height: 100%;
}

aside.app-chatContacts div.app-contactList {
  position: relative;
  height: calc( 100% - 100px );
  overflow-y: auto;
}

aside.app-chatContacts div.app-contactList div.app-contactListItem {
  border-bottom: 1px solid #DDD;
  border-left: 5px solid #BBB;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
  padding-top: 5px;
}
aside.app-chatContacts div.app-contactList div.app-contactListItem h3 {
  margin-top: 0px;
}

aside.app-chatContacts div.app-contactList div.app-contactListItem.user-online {
  border-left-color: #2A3;
  cursor: pointer;
}
aside.app-chatContacts div.app-contactList div.app-contactListItem.user-online:hover {
  background-color: #EEE;
}
aside.app-chatContacts div.app-contactList div.app-contactListItem.user-online i {
  display: none;
}

aside.app-chatContacts div.app-contactList div.app-contactListItem.user-online.active {
  border-left-color: #4C9EF9;
}

/* --- Chat box --- */
article.app-chatBox.noDiscussionOpened > div.discussion,
article.app-chatBox:not(.loading) > div.loading,
article.app-chatBox.loading > div.discussion,
article.app-chatBox:not(.noDiscussionOpened) > div.help {
  display: none;
}

article.app-chatBox > div.loading {
  margin-top: 70px;
}

article.app-chatBox > div.discussion {
  position: relative;
  height: 100%;
}

div.app-chatLog {
  position: relative;
  height: calc( 100% - 130px );
  width: 100%;
  overflow-y: auto;
}

div.app-chatLog div.app-msgList {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 10px;
}

div.app-chatLog div.app-msgList div.app-chatMsg {
  margin-bottom: 3px;
}

div.app-chatLog div.app-msgList div.app-chatMsg:hover {
  background-color: #EFEFEF;
}

div.app-chatLog div.app-msgList div.app-chatMsg > div {
  display: inline-block;
}

div.app-chatLog div.app-msgList div.app-chatMsg > div.app-chatMsgUser {
  width: 20%;
  vertical-align: top;
  text-align: right;
  padding-right: 10px;
}

div.app-chatLog div.app-msgList div.app-chatMsg > div.app-chatMsgContent {
  width: 70%;
}

div.app-chatLog div.app-msgList div.app-chatMsg > div.app-chatMsgInfos {
  width: auto;
  float: right;
  margin-right: 5px;
}
